<!DOCTYPE html>
<html>
<head>
	<title>LiL - Mission</title>
	<script type="text/javascript" src="../../public/js/PINE_Core_4.8.js" NoFreeze></script>
	<!-- <script type="text/javascript" src="templ_members.js" NoFreeze></script> -->
	<script type="text/javascript" NoFreeze>ID_OF_LINK_FOR_CURRENT_PAGE = "view_mission";</script>
	<script type="text/javascript" src="templ_LiL.js" NoFreeze></script>
	
	

	<link rel="stylesheet" type="text/css" href="../../public/css/LiL.css">

	<script type="text/javascript" src="../FREEZE.js" NoFreeze></script>
	<script type="text/javascript" src="../../public/js/PINE_Var.js" NoFreeze></script>
	<script type="text/javascript" src="../../public/js/PINE_Needles.js" NoFreeze></script>
	<script type="text/javascript" src="../../public/js/PINE_Includes.js" NoFreeze></script>

	<!-- <link rel="stylesheet" type="text/css" href="../../public/css/gallery.css">
	<script type="text/javascript" src="../../public/js/gallery.js"></script> -->
</head>
<body>


<view src="templ_topbar.html"></view>


<mission>
	<h2>Our Mission</h2>
	is to create experiences which incite playfulness and the sense of being cared for and welcome.
</mission>

</body>

<style>
mission {
	display: block;
	background-color: #f7f3dc;
	/*width: 80vw;*/
	margin: 10%;
	transform: rotate(1deg);
	padding: 20px;
	border-radius: 2px;
}
	mission > h2 {
		display: inline-block;
		margin: 0px;
	}
</style>

</html>






